# Ignorer les environnements virtuels
venvUC/
env/
ENV/


# Fichiers sensibles
.env

# Fichiers temporaires
*.pyc
__pycache__/
*.log


# Fichiers systèmes
.DS_Store
Thumbs.db

# Éviter les fichiers lourds communs
*.webm
*.avi
*.mov
*.mkv
*.gif
*.bmp
*.tif
*.ico
*.avi
*.mov
*.zip


# VS Code
.vscode/

# Node / JS (si jamais tu ajoutes frontend)
node_modules/
build/
dist/
medias/

*.pyc
__pycache__/
.env